.Background {
    background-image: url(../assets/calendarbg.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.HomeContainer {
    display: flex;
    height: 20vh;
    width: 40%;
    justify-content:center;
    margin: 0 auto;
}